* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter, system-ui;
}

nav {
    justify-content: space-between;
    align-items: center;
}

.row {
    display: flex;
    
}

.logo {
    font-weight: 900;
    display: flex;
    align-items: center;
    font-size: 24px;
    letter-spacing: 0.6px;
    color: #243e63;
    padding-bottom: 4px;
}

.logo__img {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

@media (max-width: 1024px)
.nav__links {
    display: none;
}

.nav__links a, .menu__link {
    margin: 0 24px;
    font-size: 14px;
    white-space: nowrap;
    font-weight: 600;
    text-decoration: none;
    color: #243e63;
    letter-spacing: 0.35px;
}

.nav__links a:last-child, .menu__link:last-child {
    color: #f7fafc;
    padding: 12px 32px;
    background-color: #6415ff;
    border-radius: 100px;
    margin: 0;
}

/* LANDING */

.landing__title {
    font-size: 30px;
    color: #1a202c;
    line-height: 1.25;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    
}


.purple {
    color: #6415ff;
}

.landing__para {
    font-size: 16px;
    text-align: center;
    margin: 20px 0;
}

.landing__email {
    position: relative;
    max-width: 448px;
    display: flex;
    align-items: center;
    position: relative;
}

@media (max-width: 1024px)
.landing__customers--title {
    text-align: center;
    font-size: 14px;
}


